.ourServices {
  box-sizing: border-box;
  margin-top: 200px;
  margin-bottom: 20px;
}

.ourServicesContainer {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.servicesDescription {
  flex: 1;
  margin-top: 80px;
}

.servicesDescription strong {
  color: #00ff2a;
}
.servicesDescription p {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 40px;
}

.servicesImage {
  flex: 1;
  position: relative;
  text-align: center;
}
.servicesImage h1 {
  /* font-size: 7.14vw; */
  font-size: clamp(60px, 7.14vw, 120px);
  font-weight: 650;
  line-height: 60.59px;
  z-index: 5;
  position: absolute;
  width: 100%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.servicesImage img {
  max-width: 100%;
  max-height: 450px;
  position: absolute;
  z-index: 5;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.imageCircle {
  position: absolute;
  width: 50rem;
  height: 50rem;
  max-width: 500px;
  max-height: 500px;
  background: #00ff2a;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (max-width: 1177px) {
  .servicesImage h1{
    font-size: 6.5vw;
  }
  .servicesImage img {
    top: 70%;
  }
}
@media (max-width: 1143px) {
  .servicesImage h1{
    font-size: 7vw;
  }
  .servicesImage img {
    top: 65%;
  }
  .servicesDescription p{
    max-width: 90%;
  }
}


@media (max-width: 1000px){
  .imageCircle {
    width: 28rem;
    height: 28rem;
    top: 50%;
    left: 50%;
  }  
}

@media (max-width: 899px) {
  .ourServicesContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .servicesDescription p{
    max-width: 100%;
  }
  .servicesImage {
    margin-top: 50px;
    margin-bottom: 300px;
  }
  .servicesImage h1 {
    font-size: 90px;
    margin-top: -120px;
  }
  
  .servicesImage img {
    max-width: 100%;
    max-height: 450px;
    top: 75%;
    left: 62%;
    transform: translate(-60%, -20%);
  }
}

@media (max-width: 650px) {
  .servicesImage h1 {
    font-size: 65px;
    margin-top: -120px;
  }
  .servicesImage img {
    max-width: 70%;
    max-height: 450px;
    top: 75%;
    left: 65%;
    transform: translate(-60%, -20%);
  }
  .imageCircle {
    width: 25rem;
    height: 25rem;
    top: 50%;
    left: 50%;
  } 
}

@media (max-width: 500px) {
  .servicesImage {
    margin-bottom: 200px;
  }
  .imageCircle {
    width: 22rem;
    height: 22rem;
  }  

  .servicesImage h1 {
    font-size: 55px;
  }
  
  .servicesImage img {
    max-width: 60%;
    top: 80%;
    transform: translate(-60%, -25%);
  }
}

@media (max-width: 420px){
  .imageCircle {
    width: 20rem;
    height: 20rem;
  }  

  .servicesImage h1 {
    font-size: 50px;
  }
  
  .servicesImage img {
    max-width: 60%;
  }
}

@media (max-width: 350px){
  .servicesImage {
    margin-top: 20px;
    margin-bottom: 120px;
  }
  .imageCircle {
    width: 17rem;
    height: 17rem;
  }  

  .servicesImage h1 {
    font-size: 40px;
    margin-top: -100px;
  }
}