.KnowUsSection{
  width: 55%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.KnowUsSection h1 {
  font-size: 2.2rem;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.headerKnowUs {
  background-color: black;
  display: flex;
  justify-content: center;
}

.headerNav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.HeaderKnowUsOption {
  color: var(--secondryGray);
  text-decoration: none;
  font-size: 18px;
  padding-bottom: 5px;
}

.knowUsActive {
  color: var(--mainColor);
  border-bottom: 2px solid #00ff00;
}
