.bestSeller {
    color: #fff;
    background-color: #000;
    padding: 20px;
    height: 100vh;
}

.bestSeller h1 {
    color: #00FF2A;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 0px;
}

.bestSellerContainer {
    display: flex;
    /* flex-direction: column; */
    gap: 40px;
    align-items: center;
}

/* Images Container */
.bestSellerImgs {
    box-sizing: border-box;
    display: flex;
    position: relative;
    height: 400px;
    /* Example height, you can adjust */
    gap: 10px;
}

/* Left Images (First and Second Stacked) */
.leftImages {
    display: flex;
    flex-direction: column;
    gap: 10%;
    /* Gap between first and second images */
    flex: 1;
    /* Take 50% of container's width */
    box-sizing: border-box;
}

.firstImg {
    flex: 0 0 40%;
    /* Take 40% of the main container's height */
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.secondImg {
    flex: 0 0 50%;
    /* Take 50% of the main container's height */
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

/* Third Image */
.thirdImg {
    flex: 0 0 80%;
    /* Take 80% of the main container's height */
    width: 100%;
    /* Automatically adjust width */
    object-fit: cover;
    box-sizing: border-box;
}