.bestSeller {
  padding: 30px 0px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.bestSeller h1 {
  color: #00ff2a;
  text-align: left;
  font-size: 38px;
  font-weight: 500;
  line-height: 48.22px;
  margin-bottom: 0px;
}

.bestSellerContainer {
  color: #fff;
  padding: 30px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bestSellerImgaes {
  flex: 3; /* 60% of the width */
  max-width: 60%;
  height: 100%;
  display: flex;
  gap: 20px;
}

.leftImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  flex: 50%;
}

.firstImg,
.secondImg {
  width: 100%;
  object-fit: cover;
}
.firstImg {
  height: 40%;
}
.secondImg {
  height: 56%;
}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 50%;
}

.thirdImg {
  width: 100%;
  height: 85%;
  object-fit: cover;
}

.pagination button {
  margin: auto 10px;
  padding: 4px 8px;
  gap: 10px;
  opacity: 0px;
  background: linear-gradient(
    271.15deg,
    rgba(0, 255, 42, 0.7) 7.64%,
    #1b8926 90.68%
  );
  border-radius: 3px;
  font-size: 20px;
  color: #000000;
  border: none;
  cursor: pointer;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ff2a;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: transparent;
  border: 1px solid #00ff2a;
}

/* BestSeller Description ( Brand name, Price, Size, Brand Description, Add to Basket Button ) */

.bestSellerDescription {
  flex: 2; /* 40% of the width */
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 20px;
  border-radius: 10px;
}

/* Brand Name */
.bestSellerDescription h4 {
  font-size: 34px;
  font-weight: 500;
  margin-top: 0px;
}

/* Brand Price */
.bestSellerDescription span {
  margin-top: 40px;
  margin-bottom: 15px;
  color: #00ff2a;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  font-weight: 550;
  text-align: left;
}

/* Brand Size */
.sizes {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}

.sizes button {
  background-color: transparent;
  border: 0.48px solid #a1a1a1;
  color: #fff;
  padding: 7px 10px;
  cursor: pointer;
}

.sizes button.active {
  background: linear-gradient(
    271.15deg,
    rgba(0, 255, 42, 0.85) 7.64%,
    #1b8926 90.68%
  );
  color: #fff;
}

/* Brand Description */
.bestSellerDescription p {
  color: #ccc;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  margin-bottom: 40px;
}

/* Add to Basket Button */
.addToBasket {
  width: 156px;
  background: linear-gradient(
    271.15deg,
    rgba(0, 255, 42, 0.85) 7.64%,
    #1b8926 90.68%
  );
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}

/* Responsive Part */

@media (max-width: 799px) {
  .bestSellerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .bestSellerImgaes {
    flex: 1;
    max-width: 100%;
    max-height: 70vh;
  }
  .bestSellerDescription {
    flex: 1;
    max-width: 100%;
  }
}
