.flexQuestions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  flex-wrap: wrap;
}
.smallerContainer {
  /* to make padding works even in mobile size screens */
  padding-right: 15px;
  padding-left: 15px;
  /* to set all elements in the center verticlly */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  /* width: calc( 100% - 200px );  */
  width: 50%;
  position: relative;
}

.twoQuestionSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 80px;
}