.header {
  height: 18vh;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 170px;
}


.navBar {
  border: 1px #222222 solid;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
}
.navBar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 15px;
  gap: 5px;
  height: 8vh;
  align-items: center;
  border-radius: 15px;
}

.navBar ul li {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 25px 22px 25px 22px;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.navBar ul li.navTagsSelected {
  background-color: #222222;
  color: white;
  padding: 25px 30px;
}
.navBar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 450;
  text-align: center;
}


.iconBar {
  display: flex;
  gap: 20px;
}

.iconBar img{
  width: 30px;
  height: 25px;
}