@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap');

.favoritesContainer{
    margin: 30px auto;
}

.favoritesHeader h1{
    color: var(--mainColor);
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    font-weight: 200;
    line-height: 76.5px;
    letter-spacing: 0.35em;
    text-align: center;
}

/* Card Section  */

.cardItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 180px;
}

.cardItems>div {
    flex: 1 1 calc(20% - 20px);
    box-sizing: border-box;
    max-width: 20%;
}

/* Full HD Screens */
@media (max-width: 1650px) {
    .cardItems>div {
        flex: 1 1 calc(25% - 20px);
        box-sizing: border-box;
        max-width: 25%;
    }
}

/* Large Laptops */
@media (max-width: 1440px) {
    .cardItems>div {
        flex: 1 1 calc(25% - 20px);
        box-sizing: border-box;
        max-width: 25%;
    }
}

/* Small Laptops */
@media (max-width: 1280px) {
    .cardItems>div {
        flex: 1 1 calc(25% - 20px);
        box-sizing: border-box;
        max-width: 25%;
    }
}

@media (max-width: 1000px) {
    .cardItems>div {
        flex: 1 1 calc(33.33% - 20px);
        box-sizing: border-box;
        max-width: 33.33%;
    }
}

/* Tablets */
@media (max-width: 768px) {
    .cardItems>div {
        flex: 1 1 calc(50% - 20px);
        box-sizing: border-box;
        max-width: 50%;
    }
}

@media (max-width: 640px) {
    .cardItems>div {
        flex: 1 1 calc(50% - 20px);
        box-sizing: border-box;
        max-width: 50%;
    }
}

/* Mobile screens */
@media (max-width: 480px) {
    .cardItems>div {
        flex: 1 1 100%;
        box-sizing: border-box;
        max-width: 100%;
    }
}

.noItemsFound{
    color: white;
    font-size: 25px;
    margin: 40px auto;
}