.app {
  font-family: "Nohemi", sans-serif;
}
body {
  background-color: #000000;
}
html {
  font-size: 21px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --mainColor: #00ff2a;
  --secondryGray: #999999;
  --secondryRedColor: #e50000;
  --borderColor: #1f1f1f;
}
.html {
  font-size: 10px;
}

.mainContainer {
  /* to make padding works even in mobile size screens */
  padding-right: 15px;
  padding-left: 15px;
  /* to set all elements in the center vertically */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  /* width: calc( 100% - 200px );  */
  width: 93%;
  position: relative;
}

.smallerContainer {
  /* to make padding works even in mobile size screens */
  padding-right: 15px;
  padding-left: 15px;
  /* to set all elements in the center vertically */
  margin-right: auto;
  margin-left: auto;
  /* set the width for the container */
  /* width: calc( 100% - 200px );  */
  width: 20%;
  position: relative;
}
@media (max-width: 1440px) {
  html {
    font-size: 18px;
  }
  .mainContainer {
    width: 98%;
  }
}
@media (max-width: 1024px) {
  html {
    font-size: 16px;
  }
  .mainContainer {
    width: 100%;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 14px;
  }
}
